@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

#container {
	position: fixed;
	bottom: 10px;
	left: 0;
}

#btn {
	background-color: white;
	border: 5px solid rebeccapurple;
	color: rebeccapurple;
	padding: 1rem;
	font-size: medium;
	font-weight: bold;
	font-family: inherit;
}

.toast {
	background-color: rebeccapurple;
	padding: 2rem;
	color: white;
	margin: 1rem;
	border-radius: 5px;
}
