@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

button {
	background-color: rebeccapurple;
	color: white;
	font: inherit;
	border: none;
	padding: 1rem;
	border-radius: 3px;
}

.popup-container {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	align-items: center;
	justify-content: center;
}

.popup {
	background-color: white;
	width: 500px;
	padding: 2rem;
	border-radius: 5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	position: relative;
}

.popup button {
	background-color: white;
	color: rebeccapurple;
	position: absolute;
	font-size: 2rem;
	font-weight: bold;
	padding: none;
	top: 10px;
	right: 10px;
}

.notHidden {
	display: flex;
}
